@import "lib/normalize";
@import "lib/colors/colors";
@import "responsive";
@import "oocss";

html { height: 100%; }
body { min-height: 100%; }

body {
  font-family: monospace, serif;
}

header {
  padding: 6em 0;

  h1 {
    line-height: 1em;
  }
}
section {
  padding: 4em 0;
}
footer {
  padding: 1em 0;
}

.code {
  padding: 5px;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
}
