doctype html
html(lang="en")
  head
    title=appName
    script.
    link(rel="stylesheet" href="/stylesheets/base.css")
    link(rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    )

    block head
  body
    .wrap
      header.c
        h1.ibm
          | |{#{appName}}|
        nav.ibm
          ul
            li
              a(href="#") navigation
            li
              a(href="#") list
            li
              a(href="#") items
            li
              a(href="#") etc
      block main

      footer.c
        = new Date().getFullYear() + '.'

    script(src="javascripts/jquery.js")
    block foot
