doctype html
html(lang="en")
  head
    title=appName
    script.
    link(rel="stylesheet" href="/stylesheets/base.css")
    link(rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    )

    block head
  body
    .wrap
      header.c
        h1.ibm
          a(href="/").retain
            | |{#{appName}}|
        nav.ibm
          ul
            li
              a(href="/ui") sandbox
            li
              a(href="/faq") f.a.q.
      block main

      footer.c
        != coolPrinter('- ' + new Date().getFullYear() + ' -', {breaker: '<br/>'})

    script(src="javascripts/jquery.js")
    block foot
