extends application

block head
  // TODO: this following line should only fire in development 'environment'
  script.
    console.log('-----------\nHello World\n-----------');
block main
  p Hello World
block foot
  script.
    console.log('...\n...\n2014.');
